body {
  font-family: Arial;
  background: #eef2f7;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 300px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container {
  width: 400px;
  margin: auto;
}

input {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: #2d6cdf;
  color: white;
  border: none;
  border-radius: 5px;
}

li {
  background: white;
  margin: 5px;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
