body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}


.header {
  text-align: center;
  padding: 30px;
}

.group-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  width: 80%;
  margin: auto;
}

.group-card {
  background: linear-gradient(135deg, #3b82f6, #06b6d4);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.group-card:hover {
  transform: scale(1.05);
}


.panel {
  width: 420px;
  margin: 20px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}


input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}


.present { color: #22c55e; font-weight: bold; }
.absent { color: #ef4444; font-weight: bold; }
.late { color: #f59e0b; font-weight: bold; }


li {
  list-style: none;
  padding: 10px;
  margin: 5px 0;
  background: #334155;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #0ea5e9;
}


.finish {
  width: 100%;
  margin-top: 10px;
  background: #22c55e;
  color: white;
  padding: 10px;
}
